@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

:root {
  --primary-bg-color: #ffffff;
  --primary-border-color: #cbd5e1;
  --primary-btn-color: #17214bd2;
}

@layer components {
  .input {
    @apply w-full rounded border border-stone-300 p-1 duration-300 focus:scale-105 focus:outline-0;
  }

  .label {
    @apply font-semibold;
  }
}
